body {
    margin: 0;
    font-family: 'Sriracha', cursive;
}

#background {
    height: 100%;
    width: 100%;
    background-image: url("assets/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    z-index: -100;
    position: absolute;
    filter: blur(2px);
}

.main-content {
    display: flex;
}

#introduction {
    width: 50%;

}

.intro-content {
    padding: 25% 14% 0 25%;
}

#bookshelf {
padding: 10% 0 0 10%;
}

.row {
    display: flex;
    background-image: url("/assets/log.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}


.book {
    display: inline-block;
    padding: 10px 30px 16px 30px;
}

.title {
    font-size: 50px;
    font-family: 'Chewy', cursive;
    text-shadow: gray 1px 1px 1px;
}

.sub-title {
    font-size: 30px;
    padding-bottom:30px;
}

.text {
    font-size: 20px;

}

.book > a > img {
    height: 150px;
    width: 100px;
}

